---
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import MobileMenu from '@/components/ui/mobile-menu'
import { ModeToggle } from '@/components/ui/mode-toggle'
import { MoreDropdown } from '@/components/ui/more-dropdown'
import Banner from '@/components/ui/banner.tsx'
import { NAV_LINKS, SITE } from '@/consts'
import { type CollectionEntry, getCollection } from 'astro:content';

const posts = (await getCollection('posts'))

// Sort posts by date (assuming each post has a `frontmatter.date` field)
const sortedPosts = posts.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);

// Get the latest post
const latestPost = sortedPosts[0];
---

<header
  class="sticky top-0 left-0 w-full z-50 bg-background/50 backdrop-blur-lg"
  transition:persist
  >
  {latestPost && (
    <Banner
      client:only="react"
      text={`Latest post: ${latestPost.data.title}`}
      link={`/posts/${latestPost.slug}`}
    />
  )}
  <Container class="max-w-full px-5">
    <div class="flex flex-wrap items-center justify-between gap-2 py-2">
      <Link
        href="/"
        class="flex flex-shrink-0 items-center gap-2 text-xl font-semibold transition-colors duration-300 hover:text-primary"
      >
        <svg width="34" height="34" viewBox="0 0 34 34" class="size-7">
          <circle cx="17" cy="17" r="17" fill="#6854ff" />
        </svg>
        <h1 class="font-bold">
          {SITE.TITLE}
        </h1>
      </Link>
      <div class="flex items-center gap-2 md:gap-4">
        <nav class="hidden items-center gap-4 text-sm sm:gap-6 md:flex">
          {
            NAV_LINKS.map((item) => (
              <Link
                href={item.href}
                class="capitalize text text-foreground/70 transition-colors hover:text-foreground"
              >
                {item.label}
              </Link>
            ))
          }
        </nav>
        <MobileMenu client:idle transition:persist />
        <MoreDropdown client:idle transition:persist />
        <ModeToggle client:idle transition:persist />
      </div>
    </div>
  </Container>
</header>