---
// filepath: /c:/Users/MSadm/Documents/Sadman/code/SIDEPROJECTS/blogv2/src/components/PhotoSwipe.astro
import type { ImageMetadata } from "astro";
import { Image, getImage } from "astro:assets";

interface Props {
  // Accepts an array of imported image modules (for local /src images).
  // For example:
  //   import myLocalImage from '/src/.../goodreads-tailwind.jpg';
  //   <PhotoSwipe imagePaths={[myLocalImage, myLocalImage]} />
  imagePaths: (ImageMetadata)[];
}

const { imagePaths } = Astro.props;
---

<div
  id="gallery"
  class="w-full px-2 pb-2 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2"
>
  {
    imagePaths.map(async (item) => {
      // Instead of using item.src (a string), we use the entire imported module
      // Pass the module directly so Astro can optimize it.
      const optimizedImage = await getImage({
        src: item,
        width: 1920,
      });
      return (
        <a
          href={optimizedImage.src}
          data-pswp-width={optimizedImage.attributes.width}
          data-pswp-height={optimizedImage.attributes.height}
          target="_blank"
          class="overflow-hidden rounded-md"
        >
          <Image
            src={item}
            alt="altText"
            width={item.width}
            height={item.height}
            class="object-cover w-full pswp-img hover:opacity-70 hover:scale-110 transition-transform duration-300"
          />
        </a>
      );
    })
  }
</div>

<script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    import "photoswipe/style.css";
  
    let lightbox: PhotoSwipeLightbox;
    lightbox = new PhotoSwipeLightbox({
      gallery: "#gallery",
      children: "a",
      padding: { top: 20, bottom: 40, left: 100, right: 100 },
      initialZoomLevel: 'fit',
      secondaryZoomLevel: 'fill',
      imageClickAction: 'close',
      tapAction: 'close',
      doubleTapAction: false,
      pswpModule: () => import("photoswipe"),
    });
      
    function initLightbox() {
      lightbox.init();
    }
  
    if (document.readyState === "loading") {
      document.addEventListener("DOMContentLoaded", initLightbox);
    } else {
      initLightbox();
    }

    document.addEventListener("astro:page-load", () => {
      lightbox.init();
    });
  
    document.addEventListener("astro:before-swap", () => {
      lightbox.destroy();
    });
  </script>