---
import Link from '@/components/Link.astro'
import { Badge } from '@/components/ui/badge'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

type Props = {
  project: CollectionEntry<'projects'>
}

const { project } = Astro.props
---

<div
  class="hover-card overflow-hidden rounded-xl border"
>
  <Link href={project.data.link} class="block" external>
    <Image
      loading="eager"
      src={project.data.image}
      alt={project.data.name}
      width={400}
      height={200}
      class="w-full object-cover rounded-xl"
    />
    <div class="p-4">
      <h3 class="mb-1 text-xl font-black leading-none break-words hyphens-auto">{
        project.data.name}
        </h3>
      <p class="mb-2 text-xs underline text-theme">
        {project.data.link}
      </p>
      <p class="mb-2 text-sm text-muted-foreground leading-small">
        {project.data.description}
      </p>
      <div class="flex flex-wrap gap-2">
        {
          project.data.tags.map((tag) => (
            <Badge variant="secondary" showHash={false}>
              {tag}
            </Badge>
          ))
        }
      </div>
    </div>
  </Link>
</div>
